.airbnb-logo{
    height:3rem;
    padding: 1rem;
    
}

.nav {
    columns: 3;
    display: flex;
    gap: 3rem;
    align-items: center;
   
    
}
.div1{
    display: flex;
    gap: 3rem;
    align-items: center;
    margin-left: 15rem;

}

.div1 > i{
    background-color: red;
    color: white;
    border-radius: 40%;
    height: 1rem;
    width: 2rem;
}

.div2{
    margin-left: 5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.bars{
    border: 0.1rem solid;
    border-color: rgb(219, 216, 216);
    justify-content:space-evenly ;
    border-radius: 3rem;
    padding: 0.5rem;

}

.search {
    display: flex;
   justify-content: center;
   gap: 3rem;
   border-radius:3rem;
   border: 1px solid;
   border-color: rgb(202, 199, 199);
   align-items : center;
   height: 4rem;
   width: 50.5rem;
   padding-left: 2rem;
   margin-left: 21rem;

}

.search > div{
    border-right:0.1rem solid;
    border-right-color: rgb(187, 185, 185);
   height: 1.6rem;
   padding-right: 3rem;
   line-height: 0.3rem;
   align-items: center;
   padding-bottom: 1.4rem;
}

.icons{
    display: flex;
    font-size: 1rem;
    gap: 4rem;
    padding-top: 2rem;
    margin-left: 2rem;
}

.icons > p {
    font-size: 5px;
}

.hotel-row1{
  display: flex;
   margin-left: 1rem;
  
}

.rooms{
    border-radius: 2rem;
}

